################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Black_Memories_API/obj/Release/net8.0
/.gitignore
